---
import Layout from "../layouts/Layout.astro"
---

<Layout title="about the project" >
    <h1>SpaceX: Pionera en la exploración espacial</h1>

    <p>SpaceX, o Space Exploration Technologies Corp., es una empresa aeroespacial estadounidense fundada en 2002 por Elon Musk. Su objetivo principal es **revolucionar la industria espacial** mediante la reducción de los costes de los viajes espaciales y la creación de tecnologías innovadoras.</p>

    <h2>Logros</h2>

    <ul>
        <li>Primera empresa privada en desarrollar un cohete propulsado por líquido que alcanzó la órbita terrestre.</li>
        <li>Primera en lanzar, poner en órbita y recuperar una nave espacial.</li>
        <li>Primera en enviar una nave espacial comercial a la Estación Espacial Internacional (EEI).</li>
        <li>Primera en transportar astronautas a la EEI a bordo de una nave espacial comercial.</li>
    </ul>

    <h2>Innovación</h2>

    <p>SpaceX diseña, fabrica y lanza cohetes y naves espaciales avanzadas. La compañía se caracteriza por su integración vertical, lo que significa que construye la mayor parte de sus vehículos en sus propias instalaciones.</p>

    <p>Algunos de sus proyectos más ambiciosos incluyen:</p>

    <ul>
        <li>**Starship:** Un sistema de transporte espacial completamente reutilizable diseñado para viajes interplanetarios, incluyendo la colonización de Marte.</li>
        <li>**Starlink:** Una constelación de satélites de internet que busca brindar acceso a internet de banda ancha de alta velocidad a nivel global.</li>
    </ul>

    <h2>Impacto</h2>

    <p>SpaceX ha tenido un impacto significativo en la industria espacial, impulsando la innovación y la competencia. Sus logros han abierto nuevas posibilidades para la exploración espacial comercial y el turismo espacial. La compañía también ha inspirado a una nueva generación de científicos e ingenieros a perseguir carreras en el campo espacial.</p>

    <h2>Más información</h2>

    <ul>
        <li><a href="https://www.spacex.com/">Sitio web oficial de SpaceX</a></li>
        <li><a href="https://es.wikipedia.org/wiki/SpaceX">Wikipedia</a></li>
    </ul>


</Layout>
<style>
    body {
        font-family: sans-serif;
        margin: 0;
        padding: 20px;
    }

    h1 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: auto;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: blue;
    }
</style>


