---
import NextLaunches from '../components/NextLaunches.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>

		<NextLaunches/>
	
	</main>
	
</Layout>