---
import HeaderButton from "./HeaderButton.astro";

console.log('Hello, World!');
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            Space X launches 🚀
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark: text-gray-400">
            All the information about SpaceX launches
        </p>
    </div>
    <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
        <HeaderButton href="/astro-space">Ultimos lanzamientos <svg slot="before" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-activity-heartbeat"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12h4.5l1.5 -6l4 12l2 -9l1.5 3h4.5" /></svg></HeaderButton>
        <HeaderButton href="/astro-space/next"> Proximos lanzamientos</HeaderButton>
        <HeaderButton href="/astro-space/oldest">Los mas viejos</HeaderButton>
        <HeaderButton href="/astro-space/about">Acerca de</HeaderButton>
    </nav>
</header>
